# Python / Flask
__pycache__/
*.pyc
.venv
venv/
instance/
/node_modules
/frontend/node_modules

# Pliki środowiskowe
.env
*.env


# Baza danych
*.db
*.sqlite3

# Pliki systemowe i edytora
.vscode/
.idea/
.DS_Store

# Cache
.vite/
