# Python / Flask
__pycache__/
*.pyc
.venv
venv/
instance/

# Pliki środowiskowe
.env

# Baza danych
*.db
*.sqlite3

# Pliki generowane
error_screenshot.png

# Node / React
node_modules/
build/
npm-debug.log

# Pliki systemowe i edytora
.vscode/
.idea/
.DS_Store